In [1]:
import pandas as pd
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [20]:
url = "https://search.mudah.my/v1/search?category=2000&from=40&include=extra_images%2Cbody&limit=1000&region=3&type=sell"
url2 = "https://www.mudah.my/penang/properties-for-sale?o=250"
url3 = "https://www.mudah.my/Sri+Saujana+Lebuh+Maccalum+Apartment-96811603.html"
url4 = "https://search.mudah.my/v1/search?category=2000&from=40&include=extra_images%2Cbody&limit=200&region=3&type=sell"

## Use this one
URL = "https://search.mudah.my/v1/search?category=2000&from=1&limit=1&region=3&type=sell"

response = requests.get(URL)

In [99]:
subarea_name = []
category_name = []
sub_category_name = []
room_count = []
bathroom_count = []
parking_count = []
size = []
property_type = []
price = []


for i in range(0,9999):
    response = requests.get(f"https://search.mudah.my/v1/search?category=2000&from={i}&limit=1&region=3&type=sell")
    

    try:
        subarea_name.append(response.json()["data"][0]["attributes"]["subarea_name"])
    except:
        subarea_name.append("others")
    
    try:
        category_name.append(response.json()["data"][0]["attributes"]["category_name"])
    except:
        category_name.append("others")
        
    try:
        sub_category_name.append(response.json()["data"][0]["attributes"]["property_type_name"])
    except:
        sub_category_name.append("others")
        
    try:
        room_count.append(response.json()["data"][0]["attributes"]["rooms_name"])
    except:
        room_count.append(0)
    
    try:
        bathroom_count.append(response.json()["data"][0]["attributes"]["bathroom_name"])
    except:
        bathroom_count.append(0)
    
    try:
        parking_count.append(response.json()["data"][0]["attributes"]["parking_name"])
    except:
        parking_count.append(0)
      
    try:    
        size.append(response.json()["data"][0]["attributes"]["size"])
    except:
        size.append(0)
    
    try:    
        property_type.append(response.json()["data"][0]["attributes"]["title_type_name"])
    except:
        property_type.append("others")
            
    try:    
        price.append(response.json()["data"][0]["attributes"]["price"])
    except:
        price.append(0)

In [100]:
# initialize data of lists.
data = {
    "subarea_name" : subarea_name,
    "category_name" : category_name,
    "sub_category_name" : sub_category_name,
    "room_count" : room_count,
    "bathroom_count" : bathroom_count,
    "parking_count" : parking_count,
    "size (sqrt)" : size,
    "property_type" : property_type,
    "price (RM)" : price
}
  
# Create DataFrame
df = pd.DataFrame(data)

In [101]:
df.shape

(9999, 9)

In [102]:
df.tail()

,subarea_name,category_name,sub_category_name,room_count,bathroom_count,parking_count,size (sqrt),property_type,price (RM)
9994,Sungai Ara,Apartment / Condominium,Apartment,3,1,1,650,Freehold,240000
9995,Jelutong,Apartment / Condominium,Condominium,3,2,2,950,Leasehold,550000
9996,Bayan Lepas,Apartment / Condominium,Condominium,4,3,3,1623,Freehold,899000
9997,Bukit Mertajam,Apartment / Condominium,Flat,3,2,0,645,Freehold,105000
9998,Kepala Batas,House,2-storey Terraced House,4,3,0,1290,Freehold,425000

In [103]:
## df.to_csv("mudah_property_data.csv")

In [104]:
df["sub_category_name"].value_counts()

Condominium                  3477
Apartment                    1500
2-storey Terraced House      1170
Semi-Detached House           922
Bungalow House                434
Shop lot                      399
3-storey Terraced House       380
1-storey Terraced House       377
Terraced House                193
Flat                          185
Service Residence             158
Warehouse / Factory           131
Residential                   125
2.5-storey Terraced House      92
Others                         82
Agricultural                   73
Townhouse                      69
Office space                   36
Industrial                     34
Commercial                     33
Cluster House                  28
Zero-Lot Bungalow              23
3.5-storey Terraced House      15
Mixed Development              15
Hotel / Resort                 14
Townhouse Condo                10
Retail space                   10
1.5-storey Terraced House       7
Studio                          4
Duplex                          2
Link Bungalow                   1
Name: sub_category_name, dtype: int64

In [105]:
df["property_type"].value_counts()

Freehold     8960
Leasehold    1039
Name: property_type, dtype: int64

In [110]:
df["subarea_name"].value_counts().head(30)

Bayan Lepas       1007
Gelugor            705
Jelutong           657
Sungai Ara         638
Ayer Itam          637
Bukit Mertajam     590
Georgetown         586
Tanjong Tokong     576
Butterworth        538
Tanjung Bungah     307
Simpang Ampat      301
Greenlane          279
Bertam             226
Balik Pulau        200
Batu Kawan         198
Alma               177
Pulau Tikus        173
Relau              170
Bayan Baru         166
Batu Ferringhi     142
Batu Maung         127
Batu Uban          120
Teluk Kumbar       112
Bukit Jambul       110
Perai              109
Kepala Batas       107
Paya Terubong       93
Nibong Tebal        91
Seberang Jaya       85
Sungai Nibong       69
Name: subarea_name, dtype: int64